:root {
  --primary-color: #6d6cf4;
  --muted-color: #b0b0b0;
  --icon-font-size-lg: 2rem;
  --icon-font-size-md: 1.6rem;
  --icon-font-size-sm: 1rem;
  --text-font-size-lg: 1.4rem;
  --text-font-size-md: 1.1rem;
  --text-font-size-sm: 0.8rem;
  --common-border-radius: 18px;
  --common-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body,
.ant-progress-line,
input,
input::placeholder {
  font-size: var(--text-font-size-lg) !important;
}

.primary-color {
  color: var(--primary-color);
}

.system-default-icon {
  font-size: var(--icon-font-size-lg);
  transition: all 0.4s !important;
  cursor: pointer;
}

.system-default-icon:hover {
  transform: scale(1.2) !important;
}

.app-icons {
  transition: all 0.4s !important;
  cursor: pointer;
}

.app-icons:hover {
  transform: scale(1.2) !important;
}

.customized-input {
  border-radius: var(--common-border-radius);
  box-shadow: var(--common-box-shadow);
  border: none !important;
  padding: 0.8rem;
}

.ant-picker .ant-picker-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.ant-picker .ant-picker-suffix {
  font-size: 1.5rem !important;
  margin-right: 0.8rem;
}

.colored-text .ant-picker .ant-picker-input > input {
  color: var(--primary-color) !important;
}

.colored-text .ant-picker .ant-picker-suffix {
  color: var(--primary-color) !important;
}

.color-muted .ant-picker .ant-picker-input > input {
  color: var(--muted-color) !important;
}

.color-muted .ant-picker .ant-picker-suffix {
  color: var(--muted-color) !important;
}

.customized-card {
  border-radius: var(--common-border-radius);
  box-shadow: var(--common-box-shadow);
  border: none !important;
  padding: 1rem 1.8rem !important;
}

.upcoming_tag {
  color: white;
  background-color: var(--primary-color);
  border-radius: var(--common-border-radius);
}

.colored-text {
  color: var(--primary-color) !important;
}

.color-muted {
  color: var(--muted-color);
}

.group-btn {
  border-radius: var(--common-border-radius) !important;
  border: none !important;
  padding: 1rem 2rem !important;
  color: var(--muted-color);
  font-size: var(--text-font-size-lg);
}

.group-btn:active,
.group-btn:focus,
.group-btn:hover {
  background-color: var(--primary-color);
  box-shadow: var(--common-box-shadow);
  color: white !important;
}

.active_btn {
  background-color: var(--primary-color);
  box-shadow: var(--common-box-shadow);
  color: white !important;
}

.group-btn-active {
  background-color: var(--primary-color);
  box-shadow: var(--common-box-shadow);
  color: white !important;
}

.profile-img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
}

.ant-progress-bg {
  height: 0.9rem !important;
  background-color: var(--primary-color) !important;
}

.ant-checkbox-wrapper {
  transform: scale(1.6);
}

.check-in-cb {
  padding-left: 1.24rem;
}

.check-out-cb {
  padding-right: 0.9rem;
}

@media screen and (max-width: 770px) {
  body,
  input,
  input::placeholder,
  .ant-progress-line {
    font-size: var(--text-font-size-md) !important;
  }

  .system-default-icon {
    font-size: var(--icon-font-size-md);
  }

  .group-btn {
    font-size: var(--text-font-size-md);
    padding: 0.8rem 1.4rem !important;
  }

  .profile-img {
    height: 2.6rem;
    width: 2.6rem;
  }

  .ant-progress-bg {
    height: 0.7rem !important;
  }

  .ant-checkbox-wrapper {
    transform: scale(1.2);
  }

  .check-in-cb {
    padding-left: 0.52rem;
  }

  .check-out-cb {
    padding-right: 0rem;
  }

  .upcoming_tag {
    border-radius: 12px !important;
  }

  .ant-picker .ant-picker-suffix {
    font-size: 1rem !important;
    margin-right: 0.3rem;
  }
}

@media screen and (max-width: 450px) {
  body,
  input,
  input::placeholder,
  .ant-progress-line {
    font-size: var(--text-font-size-sm) !important;
  }

  .system-default-icon {
    font-size: var(--icon-font-size-sm);
  }

  .customized-input {
    padding: 0.6rem 0.5rem !important;
  }

  .group-btn {
    font-size: var(--text-font-size-sm);
    padding: 0.5rem 1rem !important;
  }

  .customized-card {
    padding: 0.6rem 0.8rem !important;
  }

  .profile-img {
    height: 2rem;
    width: 2rem;
  }

  .ant-checkbox-wrapper {
    transform: scale(0.9);
  }

  .check-in-cb {
    padding-left: 0rem;
  }

  .check-out-cb {
    padding-right: 0rem;
  }

  .ant-picker .ant-picker-suffix {
    font-size: 0.8rem !important;
    margin-right: 0.3rem;
  }
}
